name: Deploy prod bot

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22

      - name: Build app
        run: cd KotatsuTgBot && go build -o kotatsutgbot

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Build frontend
        run: cd UI/static && npm ci && npm run build

      - name: Copy app to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.host }}
          username: ${{ secrets.user }}
          key: ${{ secrets.ssh_key }}
          port: ${{ secrets.port }}
          source: KotatsuTgBot/kotatsutgbot,UI/
          target: "dist_prod"

      - name: Deploy on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.host }}
          username: ${{ secrets.user }}
          key: ${{ secrets.ssh_key }}
          port: ${{ secrets.port }}
          script: 
            sudo systemctl stop prod_kotatsu_bot &&
            cp dist_prod/KotatsuTgBot/kotatsutgbot kotatsu_bot_prod/kotatsutgbot &&
            cp -r dist_prod/UI/assets/* kotatsu_bot_prod/assets/ &&
            cp -r dist_prod/UI/static/* kotatsu_bot_prod/static/ &&
            cp -r dist_prod/UI/locales/* kotatsu_bot_prod/locales/ &&
            sudo systemctl start prod_kotatsu_bot &&
            systemctl status prod_kotatsu_bot
